* {
  margin: 0;
}

main {
margin-left: 33.3%;
margin-right: 33.3%;
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 10px;

}
article {
  background: grey;
  width: 100px;
  height: 200px;
  margin: 10px;
}
