* {
  margin: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

article {
  background: grey;
  width: 100px;
  height: 200px;
  margin: 20px 0 20px 20px;
}
